.Experiencia{
    margin-block-start: 15px;
    margin-inline-start: 35px;
    margin-block-end: 15px;
    margin-block-end: 35px;
    .container{
        padding: 26px 55px;
        justify-content: center;
        margin-block-end:45px;
  .Tit-dos{
        color: #050404;
        text-align: center;
        justify-content: center;
        font-size: 50px;
        margin-block-end: 45px;
        text-decoration: none;
        text-shadow: 12px;
    }
    .Empresas-grid{
      padding: 30px 30px;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: auto auto;
      gap:25px;
      color: #dcdcdc;
      .Empresas-varias{
        padding: 25px 35px;
        justify-content: center;
        align-items: center;
        line-height: 1.3;
    }
    .titulo-empresa{
        color: #dcdcdc;
    text-align: center;
    justify-content: center;
    font-family: var(--font-title);
    font-size: 30px;
    margin-block-end: 36px;
    &:hover{
        background-color: #fff;
        color: #050404;
        border-radius: 12px;
    }
}
.empleo{
    text-align: center;
    font-family: var(--font-title);
    font-weight: bold;
    text-decoration: underline;
    font-size: 26px;
    margin-block-end: 25px;
}
.time{
    font-size: 24px;
    font-family: var(---font-primary);
    margin-block-end: 25px;
    &:hover{
        background-color: #fff;
        color: #050404;
        border-radius: 12px;
    }
}
.image-work{
    margin-block-start: 20px;
    min-width: 100px;
    max-height: 250px;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    
    &:hover{
        max-width: 1000%; 
        max-height: auto;
        transition: transform 0.3s ease;
        align-content: center;
        position: 0.5;
    }
    
    }
 .cargo{
    text-align: center;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 22px;
    margin-block-end: 25px;
    
    &:hover{
        display:block ;
        align-items: center;
        background-color: #fff;
        color: #050404;
      
    }
    
    }
    .description{
        font-family: var(---font-primary);
        font-size: 28px;
        line-height: 1.5;
        text-align: center;
        &:hover{
            background-color: #dcdcdc;
        color: #050404;
        transition: transform 0.3s ease;
        border-radius: 12px;
        
      
        }
    }
 }
}
}


